server {
    listen 80;
    server_name viole-t.com;

    root /home/violet/command;
    index index.html;

    location = / {
        return 302 /mand;
    }

    location /mand/ {
        index index.html;
        try_files $uri $uri/ =404;
    }

    # hide all dotfiles
    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }

}
